<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/home">Smart sensor houses</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/home">Home</a>
        </li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Stuff</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="/users/sign-in">
            <span class="glyphicon glyphicon-log-in"></span> Sign in
          </a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="/users/sign-up">
            <span class="glyphicon glyphicon-user"></span> Sign up
          </a>
        </li>

        <li *ngIf="isAuthenticated">
          <a (click)="onSignOutClick()" routerLink="/">
            <span class="glyphicon glyphicon-log-out"></span> Sign out
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<main>
  <toaster-container></toaster-container>
  <router-outlet></router-outlet>
</main>

<footer class="container-fluid text-center">
  <div class="wrapper">
    <span>Copyright © 2017. All Rights Reserved.</span>
    <span>Component5 Team</span>
  </div>
</footer>