<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 text-left">

      <div class="jumbotron text-center">
          <div class="container">
            <img src="/assets/icon/favicon-72x72.png" alt="Page logo">
            <h1>Smart sensor houses</h1>
            <p>Manage your house, rooms and sensors</p>
            <p>
              <a class="btn btn-primary btn-lg" routerLink="/contact" role="button">
                <span class="glyphicon glyphicon-book"></span> Contact
              </a>
              <a class="btn btn-primary btn-lg" href="https://github.com/ComponentTeam/SmartSensorHouses" role="button" target="_blank">
                <span class="glyphicon glyphicon-file"></span> Repository
              </a>
            </p>
          </div>
      </div>

    </div>
  </div>
</div>
